@define-color white #FFFFFF;
@define-color black #000000;
@define-color rosewater #f5e0dc;
@define-color flamingo #f2cdcd;
@define-color pink #f5c2e7;
@define-color mauve #cba6f7;
@define-color red #f38ba8;
@define-color maroon #eba0ac;
@define-color peach #fab387;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;
@define-color teal #94e2d5;
@define-color sky #89dceb;
@define-color sapphire #74c7ec;
@define-color blue #89b4fa;
@define-color lavender #b4befe;
@define-color text #cdd6f4;
@define-color subtext1 #bac2de;
@define-color subtext0 #a6adc8;
@define-color overlay2 #9399b2;
@define-color overlay1 #7f849c;
@define-color overlay0 #6c7086;
@define-color surface2 #585b70;
@define-color surface1 #45475a;
@define-color surface0 #313244;
@define-color base #1e1e2e;
@define-color mantle #181825;
@define-color crust #11111b;

/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */

* {
  font-family: "Fira Sans Semibold", "JetBrainsMono Nerd Font", FontAwesome,
    Roboto, Helvetica, Arial, sans-serif;
  font-size: 22px;
}

window#waybar {
  background-color: @base;
  opacity: 0.8;
  transition-property: background-color;
  transition-duration: 0.5s;
  border-bottom: solid @crust 2px;
  padding-bottom: 2px;
}

window#waybar > * {
  margin-top: 5px;
  margin-bottom: 5px;
}

.modules-left {
  margin-left: 12px;
}

.modules-right * {
  margin-right: 12px;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  padding: 0px 1px;
  border-radius: 15px;
  border: 0px;
  font-weight: bold;
  font-style: normal;
  color: @text;
}

#workspaces button {
  padding: 0px 5px;
  margin: 0 3px;
  border-radius: 15px;
  border: 0px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @base;
  background-color: @lavender;
  border-radius: 5px;
  min-width: 30px;
  transition: all 0.3s ease-in-out;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 10px;
  background-color: @base;
  opacity: 0.8;
  padding: 20px;
}

tooltip label {
  color: @text;
}

/* -----------------------------------------------------
 * Window
 * ----------------------------------------------------- */

#window {
  border-radius: 12px;
  font-weight: normal;
  color: @lavender;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network.ethernet {
  background-color: transparent;
}

#network.wifi {
  background-color: transparent;
}

#network.disconnected {
  color: @subtext0;
  margin-right: 15px;
}

/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth {
  font-size: 1em;
}

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  color: @text;
  border-radius: 15px;
}

#bluetooth.off {
  background-color: transparent;
  padding: 0px;
  color: @subtext0;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  color: @text;
  border-radius: 5px;
}

#battery.charging,
#battery.plugged {
  color: @text;
}

#battery.critical:not(.charging) {
  color: @red;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
  background-color: #000000;
}

#custom-clock {
  margin-right: 30px;
  background-color: @lavender;
  color: @base;
  border-radius: 5px;
  padding: 0 7px;
}

#hardware {
  margin-right: 15px;
}

#custom-exit {
  margin-right: 25px;
}

#idle_inhibitor {
  padding: 0 7px;
  transition: all 0.3s ease-in-out;
}

#idle_inhibitor.activated {
  background-color: @lavender;
  color: @base;
  border-radius: 3px;
}
